.add-outfit-card{
  margin-left: 10px;
  margin-right: 10px;
  width:200px;
  height:359px;
  border: 1px dashed rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.add-outfit-card-container{
  position: relative;
  top:30%;
  margin: 0;
  text-align: center;
}

.add-outfit-card-text{
  font-size: 16px;
  color: rgb(47, 47, 47)
}

.add-outfit-card-symbol{
  font-size: 40px;
  font-weight: bold;
  color: rgb(47, 47, 47)
}

.add-outfit-card:hover{
  animation: pulse 1.5s linear infinite
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  }
  20% {
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
  100% {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 375px) {
  .add-outfit-card{
    margin-left: 9px;
    margin-right: 9px;
    width:120px;
    height:240px;
    /* border: 1px solid blue; */
  }

}