.card{
  margin-left: 10px;
  margin-right: 10px;
  min-width:200px;
  min-height: 361px;
  border: 1px solid blue;
}



.card-image-container{
  position: relative;
  width:200px;
  height:200px;
}

.card-image{
  width:200px;
  height:200px;
}

.card-image-button{
  position: absolute;
  top: 0%;
  left: 83%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;

  background-color: transparent;
  border: 0px;
  padding: 0px 10px 0px 0px;

  cursor: pointer;
}

.card-image-button.heart-on{
  color: rgb(255, 0, 0)
}

.card-image-button.heart-off{
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 140, 140);
}

.card-image-button.heart-off:hover{
  color: rgb(255, 140, 140)
}

.card-image-button.remove-on{
  color: rgb(175, 0, 0)
}
.card-image-button.remove-on:hover{
  color: rgb(253, 0, 0);
  font-size: 31px;
}

.card-info-container{
  position: relative;
  margin: 5px 0px 5px 5px;
  text-align: left;
}

.card-button-compare{
  position: absolute;
  background-color: rgb(75, 75, 75);
  top: -5px;
  right:0%;
  border: none;
  padding: 5px 8px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 0;
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
}

.card-button-compare:hover{
  background-color: #434343;
}

.card-description{
  position: absolute;
}



.fadeInFromLeft{
  animation-name: fadeInFromLeft;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.fadeInFromRight{
  animation-name: fadeInFromRight;
  animation-duration: .5s;
  animation-fill-mode: both;
}


@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}