
html {
  box-sizing: border-box;
}
*{
  margin:0;
  padding:0;
}

.product-main{
  width: 100%;
  margin: 0 auto;

}
.overview .description {

  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows: 5vh 1fr 1fr 1fr;
  grid-template-areas:  "head head head head"
                        "img img desc desc"
                        "img img desc desc"
                        "img img desc desc"

}
.overview .description .description-category{
  grid-area: head;
  text-align: center;
  margin-bottom: 2.6rem;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.overview .description .description-img{
  grid-area: img;
  display: flex;
  flex-direction: column;
  /* border: 1px solid indigo; */
  position: relative;
  width: 100%;
  /* height: 90vh; */
}
.overview .description .item-description{
  grid-area: desc;
  z-index: 1;
  padding: 0;
  margin-left: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview .description .item-description .item-description-heading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2vh;
}
.item-description-heading .title{
  margin-top: 0.4rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1.8vh;
}
.overview .description .item-description .price{
  display: flex;
  font-size: 1.1rem;
  margin-bottom: 1.8vh;
}
.item-description .price .original-price{
  margin-right: 0.4rem;

}
.item-description .price .sale-price {
  color: red;
}

.description-portal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.description-portal img {
  display: block;
  height: 100vh;
  width: 40vw;
  opacity: 1;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.8rem;
  opacity: 60%;
}
.modal-bg{
  position: absolute;
  z-index: 1;
  background-color: black;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;

}
.description-img .primary-img{
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  /* height: 90%; */
}
.description-img .primary-img img {
  display: block;
  width:100%;
  height: 80vh;
  object-fit:fill;
}
.description-img .img-list{
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  column-gap: .4rem;
  width: 100%;
  height: 20vh;
}
.description-img .img-list .img-ind {
/* width: 90%; */
width: 25%;
height: 80%;

}
.img-list .img-ind img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.description-img .photo-carousel{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.description-carousel{

  background:mintcream;
  border-radius: .25rem;
  font-size: 0.8rem;
  padding: .2rem;
  opacity: 60%;
  position: absolute;
  z-index: 2;
}
.description-carousel-btn-prev {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 2rem 1rem 2rem 0;
  transform: translateY(-50%);
}
.description-carousel-btn-prev-sm {
  position: absolute;
  top: 50%;
  left: -0.3rem;
  padding: 0.6rem 0.2rem;
  transform: translateY(-50%);
}
.description-carousel-btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 2rem 0 2rem 1rem;
  transform: translateY(-50%);
}
.description-carousel-btn-next-sm {
  position: absolute;
  top: 50%;
  right: -0.3rem;
  padding: 0.6rem 0.2rem;
  transform: translateY(-50%);

}

.img-list .selected {
  border: 1px solid black;
  border-radius: 10%;
}


.description-style-selector{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  column-gap: 5px;
  margin-bottom: 1.6vh;
}
.description-style{
  padding: 0;
  width: fit-content;
  height: fit-content;
}
.description-style img{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid gray;
  opacity: 80%;
}
.item-description-styles .style-title{
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}
.item-description-styles .style-title .style-title-current{
  margin-left: 0.4rem;
  font-weight: 100;
}
.description-style img:hover {
  cursor: pointer;
  opacity: 90%;
}
.item-description-size{
  padding: 0;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.item-description-size-title{
  margin-top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.item-description-size-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .8vw;
  justify-content: flex-start;
  margin-top: 0.3rem;
  padding: 0;
  width: 90%;
}
.item-description-size-ind{
  width: 4rem;
  height: 2rem;
  border-radius: 10%;
}
.item-description-size-btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  border: 1px solid gray;
  opacity: 80%;
  padding: 0.2rem
}
.item-description-size-btn:hover{
  background-color:#E0DBDB;
  cursor: pointer;
}
#toggle-on{
  opacity: 100%;
  border: 1px solid black;
}
#toggle-on-size{
  border: 1px solid black;
}

button .sm #prev{
  padding: 0;
}
button .sm #next{
  padding: 0;
}
/* .toggle-on{
  opacity: 100%;
  border: 1px solid black;
} */
.strike{
  text-decoration: line-through;
}
.size-drop{
  width: 3.2rem;
  height: 1.8rem;
  margin-top: 1.4vh;
}

.item-description-ratings{
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 1.8vh;
}
.item-description-ratings div {
  display: flex;
  align-items: center;
}
.item-description-ratings div span {
  margin-left: 0.4rem;
}
.item-description-ratings div div {
  display: flex;
  justify-content: flex-start;
}
.item-description-ratings svg{
  height: 0.9rem;
  width: 0.9rem;
}
.line-break{
  width: 100%;
  display: inline-block;
  background-color: black;
  padding: 0.01rem;
}
.half{
  width: 40vw;
  text-align: right;
}
.item-description-styles{
  margin-top: 0.4rem;
  font-size: 0.8rem;
  font-weight: 300;
}
.item-description-quantity{
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}
.size-alert{
  margin-top: 0.4rem;
  font-size: 1rem;
}
.item-description-checkout{
  height: 2.5rem;
  width: 90%;
  margin-bottom: 1vh;
}
#checkout{
  height: 100%;
  width: 100%;
}
.additional-info{
  width: 80vw;
  margin: 0 auto;
  font-size: 1.2rem;
}
.add-description-overview{
  margin-left: 40vw;
  font-size: 1rem;
  margin-bottom: 1.5vh;
}
.share-bar-overview{
  margin-left: 40vw;
  font-size: 1rem;
}
.add-div{
  margin-left: 2rem;
}
.add-title{

}
.add-extend-btn{

}
.add-extend{
  font-size: 0.9rem;
  margin-top: 1vh;
}
.add-slogan{
  font-weight: 800;
}
.add-detail{
  font-size: 0.7rem;
}
.add-features{
  font-size: 0.7rem;
  display: flex;
}
.add-feature{
  margin-right: 0.4rem;
}
.add-value{
  font-size: 0.7rem;
}
.additional-info .share-bar-overview .share{
  margin-left: 2rem;
  font-size: 1rem;
}
.share-desc{
  font-size: 0.9rem;
}
.share-link{
  display: inline-block;
  margin-right: 0.4rem;
}
