.rating-breakdown-style {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ratings-summary-header{
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.ratings-summary-header-avg{

  font-size: 50px;
  margin-right: 5px
}

.ratings-summary-header-flavor{
  margin-top: 3px;
  display:flex;
  flex-direction: column;
}

.rating-breakdown-header{
  margin-bottom: 10px;
}

.rating-breakdown-container{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.progress-style {
  height: 20px;
  width: 80%;
  /* border: 1px solid black; */
  background-color: transparent;
  margin-right: 1%;
  display:flex;
  flex-direction: row;
}

.progress-bar-star-value {
  margin-right: 1%;
}

.progress-bar-style:hover {
  background-color: var(--highlightaccentcolor);
  transform: scale(1.01);
}

.progress-fill-style {
  height: 20px;
  background-color: rgb(0, 0, 0);
}

.progress-fill-count{
  margin-left: 5px
}

.progress-bar-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1%;
}

.characteristic-style {
  height: 20px;
  width: 100%;
  /* border: 1px solid black; */
  background-color: gray;
}

.characteristic-fill-style {
  font-size: 28px;
  transform: translate(0, -4px);
}

.characteristic-bar-label-style {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.write-reviews-button{
  background: transparent;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 30px;
}

.write-reviews-button:hover{
  background-color: grey;
}

.write-reviews-button-text{
  font-size: 16px;
  margin: 0 10px;
  height:auto;
}

.product-breakdown-container{
  border-bottom: 1px solid black;
}

.product-breakdown-container label {
  display:flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-bottom: 15px;
}

.left-reviews-skull-motif{
  margin-left: 22px;
  position: static;
}

.remove-filters-btn {
  background: transparent;
  border: 1px solid black;
}

.remove-filters-btn:hover{
  background-color: grey;
}