.reviews-section {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.left-reviews {
  width: 33.33%;
  position: static;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 750px;
  margin-right:30px;
}

.right-reviews {
  position: relative;
  display:flex;
  flex-direction: column;
  height: 750px;
  overflow: scroll;
}

.right-reviews-header{
  position: relative;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}