.reviews-section {
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center
}

@media only screen and (max-width: 375px) {
  .review-section {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-reviews {
    width: 100%;
  }

  .right-reviews {
    width: 100%
  }
}

.left-reviews {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 750px;
  margin-right: 2%;
}

.right-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 750px;
  margin-bottom: 10px;
}

.right-reviews-header{
  position: relative;
  width: 97.73%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border:1px solid black;
  height: 32px;
  align-items: center;
  padding: 1%;
}

.right-reviews-cards {
  overflow-y:scroll; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-snap-type: y mandatory;
  width: 100%;
  padding-top: 1%;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-color: var(--secondarycolor)
}

.right-reviews-cards::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

