.reviews-section {
  display: flex;
  align-items: center;
  width: 1209.590px;
  margin: auto;
}

@media only screen and (max-width: 375px) {
  .review-section {
    width: 375px;
    display: flex;
    flex-direction: column;
  }

  .left-reviews {
    width: 100%;
  }

  .right-reviews {
    width: 100%
  }
}

.left-reviews {
  width: 33.33%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 750px;
  margin-right: 2%;
}

.right-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 66.67%;
  height: 750px;
  margin-bottom: 10px;
}

.right-reviews-header{
  position: relative;
  width: 99%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-reviews-cards {
  overflow: scroll;
}

.review-photos {
  display: flex;
  flex-direction: row;
}