.reviewTile {
  border: 1px solid black;
  border-radius: 2px;
}

.progressStyle {
  height: 20px;
  width: 300px;
  border: 1px solid black;
  background-color: gray;
}

.progressFillStyle {
  height: 20px;
  background-color: green;
}

.characteristicStyle {
  height: 20px;
  width: 300px;
  border: 1px solid black;
  background-color: gray;
}

.characteristicFillStyle {
  height: 20px;
  background-color: green;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 20rem;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}