.review-tile {
  border: 1px solid black;
  border-radius: 5px;
  width: 98%;
  background-color: var(--primarycolor);
  margin-bottom: 10px;
  scroll-snap-align: start;
  display:flex;
  flex-direction: column;
}

.review-tile-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.review-tile-user{
  margin: 5px 0 0 0;
  display:flex;
  flex-direction: row;
  align-items: center
}

.review-tile-user p{
  margin-left: 5px
}

.review-tile-date {
  margin-right: 10px;
}

.review-tile-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1%;
  margin-right: 1%;
}

.review-tile-title{
  display:flex;
  flex-direction: row;
  align-items: center
}

.review-tile-title h3{
  margin-left: 10px
}

.review-tile-footer {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.review-tile-stars {
  margin-left: 1%;
  margin-top: 1%;
}

.review-tile-photos-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  /* max-width: 672.28px */
}

.load-more-reviews-button {
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  height: 32px;
}

.load-more-reviews-button:hover {
  background: grey;
}

.load-more-reviews-button:disabled:after {
  content: 'No More Reviews';
}

.load-more-reviews-button span {
  display: none;
}
.load-more-reviews-button:after {
  content: 'Load More Reviews';
}

.change-helpful-btn {
  border: 1px solid black;
  background: transparent;
  margin-right: 5px;
  padding: 3px;
  border-radius: 3px;
  /* height: 32px; */
}

.change-helpful-btn:hover {
  background: grey;
}